.top-react-container {
    position: absolute;
    font-size: 10px;
    margin-top: 5.4rem;
    margin-left: 7rem;
    font-family: Futura;
    display: flex;
    flex-direction: row;
}

.top-react {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-top: 5rem; 
    margin-left: 5rem;

}