.top-react-container {
    position: absolute;
    font-size: 10px;
    margin-top: 5.4rem;
    margin-left: 7.7rem;
    font-family: Futura;
}

.top-react {
    position: absolute;
    height: 24px;
    width: 24px;
    margin-top: 5rem; 
    margin-left: 6rem;

}