.App {
  text-align: center;
  background-color: #fafafa;
}

.tag {
  display: grid;
  grid-template-columns: 35fr 0fr;

  height: 70px;
  width: 315px;

  font-size: 16px;
  font-weight:300;
  color: #ff4868;

  line-height: 45px;
  border-radius: 26px;
  border-style: solid;
  border-width: 1px;

  margin: 0rem auto 2.2rem auto;
  padding: 0 12px;
  box-shadow: 8px 8px 8px -10px rgba(0,0,0,0.5);
  overflow: auto;
}

.tag img {
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: 22px;

}

.background{
  background: white;
}

.color1{
  color: #2F4858;
}

.color2{
  color: #ff4868;
}

.color3{
  color: #D6498D;
}

.color4{
  color: #9E549E;
}

.color5{
  color: #645896;
}

.color6{
  color: #39547B;
}
.container{
  display: flex;
  flex-flow: column;
  justify-content: left;
  padding-bottom: 10rem;
  padding-top:0rem;
  bottom: 0;
  flex-wrap: wrap;
}

.join {
  display: grid;
  align-items: center;
  font-size: 1.2em;
  padding-top:20px
}

.wrapper {
  text-align: center;
  justify-content: center;
  background-color:  white;
  font-size: 16px;
  padding-top: 0rem;
  padding-bottom: 4px;
}

.rewards-container {
  background-color:  white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding-left: 0rem;
  padding-bottom: 1rem;
  align: center;
}

.icons-container {
  display: flex;
  flex-direction: row;
  padding-top: 0.2rem;
  padding-left: 0.6rem;
}

.icons {
  display: flex;
  flex-direction: column;
  padding-left: 0.7rem;
}

.in-tag-icons {
  display: flex;
  flex-direction: column;
  padding-left: 0.3rem;
}

.in-tag-icons2 {
  display: flex;
  flex-direction: column;
  padding-left: 0.3rem;
  padding-top: 0rem;
}


.rewards {
  font-size: 30px;
  font-style: oblique;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drop-down {
  padding-right: 0rem;
  padding-left: 2.8rem;
  text-align: left;
  margin-left: 1rem;
}

.engage {
  padding-left: 0rem;
  padding-top: 0.9rem;
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 16px;
}

.speech-bubble {
    background: white;
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 4rem 2rem -7rem 2rem;
    max-width: 200px;
    padding-right: 40px;
    padding-left: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;


}


.wall-row {
  display: flex;
  flex-direction: row;
  margin: 0rem 1rem -6rem 1.5rem;

}

.icons-box {
  display: flex;
  flex-direction: row;
  margin: -1rem 0rem 0rem 2rem;
}

.icon {
  position: relative;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  top: 1rem;
  z-index: 1;
  color: #ff4868;
  border-width: 1px;
  border-style: solid;
  margin: -2rem 0 0 0;
}

.emoji-box {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  margin: 8rem 0 30px 5rem;
}

.emoji{
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.total{
  padding-top: 0rem;
  padding-left:1rem;
  justify-content: right;
  font-size: 10px;
  padding-bottom: 1rem;

}
