.react-add-container {
    position: absolute;
    margin-top: 4.7rem;
    margin-left: -5.9rem;
}

.react-add-container:hover {
    opacity: 1.5;
    cursor: pointer;
}

.react-add {
    height: 20px;
    width: 20px;
    opacity: 0.5;
}

.react-add:hover {
    opacity: 1.5;
    cursor: pointer;
}

.emoji-selected {
    height: 24px;
    width: 24px;
    position: absolute;
    margin-left: -0.6rem;
    
}

.emoji-selected:active {
    cursor: pointer;
    opacity: 1.5;
}


.emoji-select-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    margin: 5rem -4rem 0rem 0rem;
    justify-content: baseline;
    opacity: 0;
    animation: fade-in-right ease 0.2s forwards;
    z-index: 3;
}

.emoji-row {
    position: relative;
    display: flex;
    flex-grow: wrap;
    flex-direction: row;
    border-radius: 5px;

    justify-content: baseline;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
    background-color: white;
    margin-top: -2rem;
}

.emoji {
    height: 30px;
    width: 30px;
    padding: 1.4rem 0.95rem 1.4rem 0.95rem;
    opacity: 0.5;
}

.emoji:hover {
    opacity: 1.5;

    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);

    cursor: pointer;
}

.emoji:focus {
    opacity: 1.5;

    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
}

.emoji:active {
    opacity: 1.5;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 0.97;
      transform: translateY(0);
    }
  }