
.leaderboard-icon {
  height: 48px;
  width: 48px;
  margin-top:0.3em;
  position: absolute;
  right: 3rem;
}

.leaderboard-icon:hover {
  color: #ff4868;
  cursor: pointer;
}

.icons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  z-index: 30;
  margin-top:0.2rem;
}

.left-arrow {
  height: 40px;
  width: 40px;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.left-arrow:hover {
  cursor: pointer;
  fill: #ff4868;
}

.img-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(270deg, #000000 0%, rgba(6, 4, 4, 0) 0.01%, rgba(255, 72, 104, 0) 80.72%, #e66465 100%);
  background: -webkit-linear-gradient(270deg, #000000 0%, rgba(6, 4, 4, 0) 0.01%, rgba(255, 72, 104, 0) 80.72%, #e66465 100%);
  background: -moz-linear-gradient(270deg, #000000 0%, rgba(6, 4, 4, 0) 0.01%, rgba(255, 72, 104, 0) 6  80.72%, #e66465 100%);
  height: 30vh;
  width: 100%;
  z-index:-1;
  overflow: auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: scroll;
}

.img-container::-webkit-scrollbar {
  display: none;
}

.img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.splash-img {
  height: 30vh;
  z-index:-21;
  opacity:0.8;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.splash-img:hover {
  opacity:1.3;
  cursor: pointer;
}