
.leaderboard-icon {
  height: 48px;
  width: 48px;
  margin-top:0.3rem;
  position: fixed;
  right: 1rem;
}

.leaderboard-icon:hover {
  color: #ff4868;
  cursor: pointer;
}

.icons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 30;
}

.left-arrow {
  height: 30px;
  width: 30px;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.left-arrow:hover {
  cursor: pointer;
  fill: #ff4868;
}

.img-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(270deg, #000000 0%, rgba(6, 4, 4, 0) 0.01%, rgba(255, 72, 104, 0) 80.72%, #e66465 100%);
  background: -webkit-linear-gradient(270deg, #000000 0%, rgba(6, 4, 4, 0) 0.01%, rgba(255, 72, 104, 0) 80.72%, #e66465 100%);
  background: -moz-linear-gradient(270deg, #000000 0%, rgba(6, 4, 4, 0) 0.01%, rgba(255, 72, 104, 0) 6  80.72%, #e66465 100%);
  height: 30vh;
  width: 100%;
  z-index:1;
  overflow: auto;
}

.splash-img {
  height: 30vh;
  z-index:-1;
  opacity: 0.80;
}

.splash-img:hover {
  opacity:1.3;
  cursor: pointer;
}