.tag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tag-user-icon {
    position: absolute;
    height: 50px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: -22rem;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
    border-style: solid;
    border-width: 1px;
}

.tag-box {
    display: flex;
    
    width: 340px;
    height: 66px;

    font-size: 18px;
    border-radius: 50px;
    background-color: white;
    opacity: 0.8;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
    margin-left: 0.7rem;
  }

  .tag-content {
      margin-left: 3rem;
      margin-top: 1.3rem;
      font-family: Futura;
      font-weight: 100px;
  }

  .tag {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 5rem;
  }

  .color1{
    color: #2F4858;
  }
  
  .color2{
    color: #ff4868;
  }
  
  .color3{
    color: #D6498D;
  }
  
  .color4{
    color: #9E549E;
  }
  
  .color5{
    color: #645896;
  }
  
  .color6{
    color: #39547B;
  }