.top-react-container {
    position: absolute;
    font-size: 10px;
    margin-top: 4.8rem;
    margin-left: 8.8rem;
    font-family: Futura;
    display: flex;
    flex-direction: row;
}

.top-react {
    position: absolute;
    height: 24px;
    width: 24px;
    margin-top: 4rem; 
    margin-left: 7rem;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    border-radius: 50%

}