.top-react-container {
    position: absolute;
    font-size: 10px;
    margin-top: 4.5rem;
    margin-left: 8.8rem;
    font-family: Futura;
    display: flex;
    flex-direction: row;
}

.top-react-container:hover {
    cursor:pointer;
    font-size: 11px;
}

.top-react {
    position: absolute;
    height: 24px;
    width: 24px;
    margin-top: 3.3rem; 
    margin-left: 6.6rem;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    border-radius: 50%;
    filter: grayscale(20%)
}

.top-react:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}