.top-react-container {
    position: absolute;
    font-size: 10px;
    margin-top: 4.8rem;
    margin-left: 8.8rem;
    font-family: Futura;
    display: flex;
    flex-direction: row;
}

.top-react {
    position: absolute;
    height: 36px;
    width: 36px;
    margin-top: 3.6rem; 
    margin-left: 6.6rem;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    border-radius: 50%;
    filter: grayscale(40%)
}

.top-react:hover {
    filter: grayscale(0%);
    cursor: pointer;
}